In [1]:
import os
import re
import pandas as pd

In [2]:
enoe_path = '/home/caetano/enoe'

In [3]:
data = list()

for year in ['2016','2018','2019','2020','2021','2022']:
    fnames = os.listdir(os.path.join(enoe_path,year))
    for fname in fnames:
        mtc = re.match('(\d\d\d\d)(\d\d)(\d\d)_(\d\d)(\d\d)(\d\d)-(\w*)', fname)
        if mtc:
            place = mtc.groups()[6]
        else:
            mtc = re.match('(\d\d\d\d)(\d\d)(\d\d)_(\d\d)(\d\d)(\d\d)', fname)
            place = ''
        yyyy  = mtc.groups()[0]
        mm    = mtc.groups()[1]
        dd    = mtc.groups()[2]
        hour  = mtc.groups()[3]
        mins  = mtc.groups()[4]
        secs  = mtc.groups()[5]
        dtime = f'{yyyy}-{mm}-{dd} {hour}:{mins}:{secs}'
        data.append([dtime, place, os.path.join(year,fname)])

In [4]:
columns = ['datetime', 'place', 'path']
df = pd.DataFrame(data, columns=columns)
df['datetime'] = pd.to_datetime(df['datetime'])
df = df.sort_values(by='datetime', ascending=True, ignore_index=True)

In [5]:
print(df.head())
print(df.tail())

             datetime place                      path
0 2016-09-17 13:37:03        2016/20160917_133703.jpg
1 2016-09-17 13:47:57        2016/20160917_134757.jpg
2 2016-09-17 13:55:35        2016/20160917_135535.jpg
3 2016-09-17 14:03:28        2016/20160917_140328.jpg
4 2016-09-17 14:11:09        2016/20160917_141109.jpg
                  datetime  place                            path
399737 2022-03-08 11:00:43  SESC2  2022/20220308_110043-SESC2.jpg
399738 2022-03-08 11:05:59  SHOP2  2022/20220308_110559-SHOP2.jpg
399739 2022-03-08 11:06:44  SESC2  2022/20220308_110644-SESC2.jpg
399740 2022-03-08 11:11:52  SHOP2  2022/20220308_111152-SHOP2.jpg
399741 2022-03-08 11:12:41  SESC2  2022/20220308_111241-SESC2.jpg

In [6]:
df['periods'] = pd.DatetimeIndex(df['datetime']).to_period('M')
print(df['periods'].unique())

<PeriodArray>
['2016-09', '2018-01', '2018-02', '2018-03', '2018-04', '2018-05', '2018-06',
 '2018-07', '2018-08', '2018-09', '2018-10', '2018-11', '2018-12', '2019-01',
 '2019-02', '2019-03', '2019-04', '2019-05', '2019-06', '2019-07', '2019-08',
 '2019-09', '2019-10', '2019-11', '2019-12', '2020-01', '2020-02', '2020-03',
 '2020-04', '2020-05', '2020-06', '2020-09', '2020-10', '2020-11', '2020-12',
 '2021-01', '2021-02', '2021-03', '2021-04', '2021-05', '2021-06', '2021-07',
 '2021-08', '2021-09', '2021-10', '2021-11', '2021-12', '2022-01', '2022-02',
 '2022-03']
Length: 50, dtype: period[M]

In [7]:
print(df[df['periods']=='2021-12'])

                  datetime  place                            path  periods
353350 2021-12-01 00:00:57  SHOP2  2021/20211201_000057-SHOP2.jpg  2021-12
353351 2021-12-01 00:00:59  SESC2  2021/20211201_000059-SESC2.jpg  2021-12
353352 2021-12-01 00:07:27  SESC2  2021/20211201_000727-SESC2.jpg  2021-12
353353 2021-12-01 00:07:58  SHOP2  2021/20211201_000758-SHOP2.jpg  2021-12
353354 2021-12-01 00:13:38  SESC2  2021/20211201_001338-SESC2.jpg  2021-12
...                    ...    ...                             ...      ...
368106 2021-12-31 23:46:37  SESC2  2021/20211231_234637-SESC2.jpg  2021-12
368107 2021-12-31 23:50:24  SHOP2  2021/20211231_235024-SHOP2.jpg  2021-12
368108 2021-12-31 23:52:49  SESC2  2021/20211231_235249-SESC2.jpg  2021-12
368109 2021-12-31 23:57:13  SHOP2  2021/20211231_235713-SHOP2.jpg  2021-12
368110 2021-12-31 23:59:00  SESC2  2021/20211231_235900-SESC2.jpg  2021-12

[14761 rows x 4 columns]

In [8]:
df[['datetime','place','path']].to_csv('flood_images.csv')